module.exports = {
    sidebarDepth: 2,
    sidebar: {
        '/guide/': [
            '',
            'FIRST',
            'SECOND',
            'THIRD'
        ],
        // fallback
        '/': [
            '',        /* / */
            'config' /* /contact.html */
        ]
    },
    displayAllHeaders: true,
    activeHeaderLinks: true
}
